.mapbox-directions-profile {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none;
}

canvas.mapboxgl-canvas {
  box-sizing: border-box;
  position: absolute;
  left: 756px;
  top: -49px;
  object-fit: none !important;
  height: 511px !important;
  width: 660px !important;
}
#map {
  position: absolute;
  height: 511px;
  width: 1200px;
}
button.directions-icon.directions-icon-reverse.directions-reverse.js-reverse-inputs {
  display: none;
}

.logo-container {
  width: 100%;
  background-color: #ffffff;
}

.logo {
  position: relative;
  width: 160px;
  height: 69px;
  left: 67px;
}

.heading {
  margin-left: 440px;
}
h1 {
  width: 560px;
  height: 24px;

  /* LG / subtitle */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */

  text-align: center;
  align-self: center;
  /* $brandColorPrimary */

  color: #1b31a8;
}

.Origin {
  position: absolute;
  width: 143px;
  height: 25px;
  left: 156px;
  top: 201px;

  /* LG / description */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  color: #000000;
}

#mapbox-directions-origin-input {
  position: relative;
  height: 56px;
  width: 332px !important;
  border-radius: 4px;
  top: 69px;
  left: 102px;
  visibility: visible;
}

#mapbox-directions-destination-input {
  position: relative;
  height: 56px;
  width: 332px !important;

  border-radius: 4px;
  top: 159px;
  left: 102px;
  visibility: visible;
}

.Destination {
  position: relative;
  width: 143px;
  height: 25px;
  left: 156px;
  top: 224px;

  /* LG / description */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  color: #000000;
}

.mapbox-directions-component.mapbox-directions-inputs {
  visibility: hidden;
}

.way1 {
  position: absolute;
  top: 275px;

  left: 152px;
}

input {
  background: url("./assests/wapoint.svg") no-repeat scroll 7px 7px;
  background-size: 20px;
  color: #4d6475 !important;

  padding-left: 40px !important;
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 14px !important;
  line-height: 120%;
}

.button {
  width: 141px;
  height: 62px;

  /* $brandColorPrimary */
  border: none;
  position: absolute;
  left: 500px;
  top: 270px;
  background: #1b31a8;
  border-radius: 32px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  z-index: 1;
  text-align: center;
  text-emphasis-position: 20px;
  /* $neutralWhite */

  color: #ffffff;
  margin-top: 1rem;
}

.calcArea {
  position: absolute;

  background-color: #ffffff;
  height: 78px;
  width: 490px;
}
.calcArea span {
  position: absolute;
  top: 28px;
  font-weight: bold;
  margin-left: 26px;
}
.calcArea strong {
  position: absolute;
  margin-top: 20px;
  right: 50px;
  width: 152px;
  height: 38px;

  /* LG / headingMedium */

  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  /* or 38px */

  text-align: right;

  /* $brandColorSecondary */

  color: #0079ff;
}

.directions-control.directions-control-instructions {
  display: none;
}

p.total-distance {
  position: absolute;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  /* or 14px */
  margin-left: 26px;
  /* $blueGray900 */
  text-align: start;
  color: #1e2a32;

  top: 105px;
}

.distance-info {
  position: absolute;
  left: 153px;
  width: 490px;
  height: 155px;
  top: 470px;
  border: 1px solid #e5e5e5;
}
